{% extends 'ASAChampionnatBundle::layout.html.twig' %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('bundles/asachampionnat/css/bureau.css') }}" type="text/css" media="all" />
    <div id="listBureau">
        <ul>
            {% for membre in membresBureau %}
                <li>
                    <div class="membrePhoto"><img src="{{ membre.photo }}"/></div>
                    <span>{{ membre.nom }} {{ membre.prenom }}</span>
                    <span>{{ membre.role }}</span>
                </li>

            {% endfor %}

        </ul>
    </div>


{% endblock%}
